################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/GodErlang.Web/.vs
/GodErlang.Web/GodErlang.Common/bin
/GodErlang.Web/GodErlang.Common/obj
/GodErlang.Web/GodErlang.ConsoleTest/bin
/GodErlang.Web/GodErlang.ConsoleTest/obj
/GodErlang.Web/GodErlang.ConsoleTest/Properties
/GodErlang.Web/GodErlang.Entity/bin
/GodErlang.Web/GodErlang.Entity/obj
/GodErlang.Web/GodErlang.Entity/Properties
/GodErlang.Web/GodErlang.Service/bin
/GodErlang.Web/GodErlang.Service/obj
/GodErlang.Web/GodErlang.Service/Properties
/GodErlang.Web/GodErlang.ShareConfig/bin
/GodErlang.Web/GodErlang.ShareConfig/obj
/GodErlang.Web/GodErlang.ShareConfig/Properties
/GodErlang.Web/GodErlang.SQL/bin
/GodErlang.Web/GodErlang.SQL/obj
/GodErlang.Web/GodErlang.SQL/Properties
*.refactorlog
/GodErlang.Web/GodErlang.SQL/GodErlang.SQL.jfm
/GodErlang.Web/GodErlang.SQL/GodErlang.SQL.dbmdl
/GodErlang.Web/GodErlang.Tools/bin
/GodErlang.Web/GodErlang.Tools/obj
/GodErlang.Web/GodErlang.Tools/Properties
/GodErlang.Web/GodErlang.Web/bin
/GodErlang.Web/GodErlang.Web/obj
/GodErlang.Web/GodErlang.Web/Properties
*.user
